---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->
 <div class="beforefooter">
        <div class="container">
            <div class="">
                <div class="">
                   <center><h3>Storage Space is Cheaper than EVER</h3>
                    <p>External hard drives start at about $50.00 for 1TB. Cloud storage can be free depending on the cloud storage provider. Network Attached Storage starts at approxmimately $100.00. <BR><BR>

                    <a class="btn btn-primary btn-lg" href="https://amzn.to/31rAl7z">Check Current Prices </a></center>
                </div>
                
            </div>
        </div>
    </div>
 
 <BR><BR>
<!-- Featured
================================================== -->
<section class="featured-posts">

<BR>
   

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>All Stories</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>