---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->
<p>
  External hard drives start at about $50.00 for 1TB and cloud storage can be free. Network Attached Storage starts at approxmimately $100.00. Check prices for current pricing info.
  <table>

<tbody ><tr >
<td ><B><a href="https://amzn.to/2YP7bgT">Best External Hard Drive</B></a>
</td>
<td >Western Digital 2TB Elements Portable External Hard Drive
</td>

<td ><a href="http://amzn.to/1MhdiDQ">Check Price</a>
</td></tr><tr >
<td ><B>Best Internal Hard Drive</B>
</td>
<td >WL 3TB 7200RPM 64MB Cache SATA III 6.0Gb/s 3.5"
</td>

<td ><a href="http://amzn.to/1MhdiDQ">Check Price</a>
</td></tr><tr >
<td ><B>Best SSD Drive</B>
</td>
<td >Kingston 240GB A400 SSD 2.5'' SATA 7MM 2.5-Inch
</td>

<td ><a href="http://amzn.to/1MhdiDQ">Check Price</a>
</td></tr><tr >
<td ><B>Best Cloud Storage</B>
</td>
<td >Google Drive
</td>

<td ><a href="http://amzn.to/1RZBeuu">Check Price</a>
</td></tr><tr >
<td ><B>Best Network Attached Storage</B>
</td>
<td >Buffalo TeraStation 1200D Desktop 4 TB NAS
</td>

<td ><a href="http://amzn.to/1oF8EE0">check price</a>
</td></tr></tbody></table></p>

<br>
<!-- Featured
================================================== -->
<section class="featured-posts">

   

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>All Stories</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>