<div class="sidebar">
  
  <BR>
 <div class="beforefooter">
        <div class="container">
            <div class="">
                <div class="">
                   <center><h3>Storage Space is Cheaper than EVER</h3>
                    <p>External hard drives start at about $50.00 for 1TB. Cloud storage can be free depending on the cloud storage provider. Network Attached Storage starts at approxmimately $100.00. <BR><BR>

                    <a class="btn btn-primary btn-lg" href="https://amzn.to/31rAl7z">Check Hard Drive Prices </a></center>
                </div>
                
            </div>
        </div>
    </div>
    
    <BR><BR>
        
            
      
        <div class="sidebar-section">
            
        </div>
            
</div>