<div class="sidebar">
  
  <BR>
 <div class="">
        <div class="container">
            <div class="">
                <div class="">
                   <center><h3>#1 Internal Hard Drive</h3>
                   <p> <a href="https://amzn.to/2Kw6t">WD Blue 1TB PC Hard Drive</a></p><a class="btn btn-primary btn-lg" href="https://amzn.to/2Kw6t">Check Price </a>
                    
                  <a href="https://amzn.to/2Kw6t"><img src="/assets/images/wdblue.jpg"></a>
                    </center>
                </div>
                
            </div>
        </div>
    </div>
    
    <BR><BR>
        
            
      
        <div class="sidebar-section">
            
        </div>
            
</div>